 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/advisor.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1166px;
}

.u-section-1 .u-image-1 {
  width: 994px;
  height: 687px;
  margin: 103px 68px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: -595px 1062px 0 133px;
}

.u-section-1 .u-text-2 {
  font-size: 2.125rem;
  margin: 40px 1062px 0 127px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 2.25rem;
  background-image: none;
  margin: 40px auto 60px 133px;
  padding: 24px 56px 25px 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-1 .u-image-1 {
    width: 534px;
    height: 444px;
    margin-top: 116px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -420px;
    margin-right: 470px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 494px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-1 .u-image-1 {
    width: 425px;
    height: 353px;
    margin-top: 98px;
    margin-right: auto;
    margin-left: 295px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -377px;
    margin-right: 415px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-right: 415px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-1 .u-image-1 {
    width: 331px;
    height: 282px;
    margin-top: 91px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -298px;
    margin-right: 235px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 294px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    padding: 12px 21px 13px 19px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 222px;
  }

  .u-section-1 .u-image-1 {
    width: 156px;
    height: 136px;
    margin-top: 35px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -136px;
    margin-right: 156px;
    margin-left: -20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 9px;
    margin-right: 156px;
    margin-left: -20px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 5px;
    margin-bottom: 52px;
    margin-left: -20px;
    padding: 4px 8px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1922px;
}

.u-section-2 .u-group-1 {
  width: 582px;
  box-shadow: 1px 0px 12px 7px rgba(255,0,0,0.25);
  min-height: 376px;
  height: auto;
  margin: 97px auto 0 39px;
}

.u-section-2 .u-container-layout-1 {
  padding: 1px 30px;
}

.u-section-2 .u-group-2 {
  width: 119px;
  min-height: 119px;
  margin: 29px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: -17px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.125rem;
  margin: 29px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-group-3 {
  width: 582px;
  box-shadow: 1px 0px 12px 7px rgba(255,0,0,0.25);
  min-height: 376px;
  height: auto;
  margin: -376px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 1px 30px;
}

.u-section-2 .u-group-4 {
  width: 119px;
  min-height: 119px;
  margin: 29px auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: -17px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 2.125rem;
  margin: 29px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-group-5 {
  width: 582px;
  box-shadow: 1px 0px 12px 7px rgba(255,0,0,0.25);
  min-height: 376px;
  height: auto;
  margin: -376px 40px 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 1px 30px;
}

.u-section-2 .u-group-6 {
  width: 119px;
  min-height: 119px;
  margin: 29px auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: -17px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 2.125rem;
  margin: 29px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-image-4 {
  width: 910px;
  height: 609px;
  margin: 121px auto 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 3rem;
  margin: -556px 68px 0 1001px;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  margin: 40px 68px 0 1001px;
}

.u-section-2 .u-image-5 {
  width: 1004px;
  height: 670px;
  margin: 68px 0 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 3rem;
  margin: -604px 1043px 0 25px;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  margin: 48px 1043px 60px 25px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3829px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 43px;
    margin-left: auto;
    height: auto;
  }

  .u-section-2 .u-image-1 {
    height: NaNpx;
  }

  .u-section-2 .u-group-3 {
    margin-top: 56px;
    height: auto;
  }

  .u-section-2 .u-image-2 {
    height: NaNpx;
  }

  .u-section-2 .u-group-5 {
    margin-top: 56px;
    margin-right: auto;
    height: auto;
  }

  .u-section-2 .u-image-3 {
    height: NaNpx;
  }

  .u-section-2 .u-image-4 {
    height: 610px;
    margin-top: 105px;
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 29px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 31px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-2 .u-image-5 {
    height: 606px;
    margin-top: 56px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 45px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 31px;
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3628px;
  }

  .u-section-2 .u-image-4 {
    width: 720px;
    height: 483px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    height: 451px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-9 {
    margin-top: 43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3226px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-top: 56px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-5 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    width: 540px;
    height: 362px;
  }

  .u-section-2 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-5 {
    height: 363px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-9 {
    font-size: 2.25rem;
    margin-top: 29px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2877px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-group-5 {
    width: 340px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 228px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-image-5 {
    height: 226px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.25rem;
    margin-top: 29px;
    margin-bottom: 40px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1778px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0 auto 0 91px;
}

.u-section-3 .u-group-1 {
  width: 581px;
  box-shadow: 1px 0px 12px 7px rgba(0,255,238,0.25);
  min-height: 560px;
  height: auto;
  margin: 58px auto 0 41px;
}

.u-section-3 .u-container-layout-1 {
  padding: 1px 30px;
}

.u-section-3 .u-group-2 {
  width: 119px;
  height: 119px;
  margin: 29px auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: -17px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 2.125rem;
  margin: 29px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-group-3 {
  width: 582px;
  box-shadow: 1px 0px 12px 7px rgba(0,255,238,0.25);
  min-height: 559px;
  height: auto;
  margin: -559px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 1px 30px;
}

.u-section-3 .u-group-4 {
  width: 119px;
  min-height: 119px;
  margin: 29px auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: -17px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 2.125rem;
  margin: 29px auto 0 0;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-group-5 {
  width: 582px;
  box-shadow: 1px 0px 12px 7px rgba(0,255,238,0.25);
  min-height: 559px;
  height: auto;
  margin: -559px 41px 0 auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 1px 30px;
}

.u-section-3 .u-group-6 {
  width: 119px;
  height: 119px;
  margin: 29px auto 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: -17px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 2.125rem;
  margin: 29px auto 0 0;
}

.u-section-3 .u-text-7 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-image-4 {
  width: 124px;
  height: 132px;
  margin: 101px auto 0 47px;
}

.u-section-3 .u-text-8 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -106px 1192px 0 200px;
}

.u-section-3 .u-text-9 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 62px auto 0 47px;
}

.u-section-3 .u-group-7 {
  width: 1826px;
  min-height: 624px;
  margin: 30px auto 60px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 2.125rem;
  margin: 30px 883px 0 0;
}

.u-section-3 .u-text-12 {
  font-size: 3rem;
  font-weight: 700;
  margin: -378px 151px 0 auto;
}

.u-section-3 .u-shape-1 {
  width: 558px;
  height: 86px;
  margin: 10px 151px 0 auto;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 266px 0 auto;
  padding: 10px 94px 11px 92px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3398px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 35px;
    margin-left: auto;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    min-height: 119px;
    height: auto;
  }

  .u-section-3 .u-image-1 {
    height: NaNpx;
  }

  .u-section-3 .u-group-3 {
    margin-top: 62px;
    height: auto;
  }

  .u-section-3 .u-image-2 {
    height: NaNpx;
  }

  .u-section-3 .u-group-5 {
    margin-top: 62px;
    margin-right: auto;
    height: auto;
  }

  .u-section-3 .u-group-6 {
    min-height: 119px;
    height: auto;
  }

  .u-section-3 .u-image-3 {
    height: NaNpx;
  }

  .u-section-3 .u-image-4 {
    margin-top: 40px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-right: 233px;
    margin-left: 201px;
  }

  .u-section-3 .u-text-9 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-group-7 {
    min-height: 1051px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 125px;
    margin-right: auto;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 29px;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 35px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3155px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-8 {
    font-size: 3.75rem;
    margin-top: -99px;
    margin-right: 149px;
    margin-left: 191px;
  }

  .u-section-3 .u-text-9 {
    font-size: 3rem;
    margin-top: 54px;
  }

  .u-section-3 .u-group-7 {
    margin-bottom: 21px;
    min-height: 810px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-7 {
    padding-bottom: 22px;
  }

  .u-section-3 .u-text-10 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-12 {
    font-size: 2.25rem;
    margin-top: 45px;
  }

  .u-section-3 .u-shape-1 {
    width: 419px;
    height: 67px;
    margin-top: 0;
    margin-left: 121px;
    margin-right: 121px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.875rem;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2897px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-top: 36px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-5 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    font-size: 3rem;
    margin-top: -92px;
    margin-right: 37px;
    margin-left: 201px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 73px;
    margin-left: 10px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-group-7 {
    margin-top: 5px;
    margin-bottom: 24px;
    min-height: 706px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-shape-1 {
    width: 349px;
    height: 73px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2787px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-group-5 {
    width: 340px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-4 {
    width: 77px;
    height: 82px;
    margin-top: 56px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
    margin-top: -54px;
    margin-right: 17px;
    margin-left: 85px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.5rem;
    margin-top: 61px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-7 {
    margin-top: 17px;
    margin-bottom: 23px;
    min-height: 653px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 20px;
    padding-bottom: 21px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 17px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.5rem;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: url("images/Screenshot_4.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 373px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 281px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 200px;
  }
}